##### somni.dotfiles.linux #####
## Global  Git Configurations ##

### ** User information **
[user]
  name = somni
  email = me@somni.one
  signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICetppVkmlge5OJCIHx8rCueVkpBteCMSWqvmXMNhMvs

### ** GPG settings **
[gpg]
  format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

### ** Core settings **
[core]
  excludesFile = ~/.gitignore
  untrackedCache = true
  ignoreCase = false
  autoCrlf = input

### ** Commit settings **
[commit]
  gpgSign = true

### ** Repository initialization settings **
[init]
  defaultBranch = main

### ** Pull settings **
[pull]
  rebase = true

### ** Rebase settings **
[rebase]
  committerDateIsAuthorDate = true

### ** Help function settings **
[help]
  autoCorrect = 1

### ** CLI color settings **
[color]
  ui = auto

### ** GitHub authentication using GitHub CLI **
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

### ** Git LFS **
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
