##### somni.dotfiles.linux #####
## Global  Git Configurations ##

# ** User information **
[user]
  name = somni
  email = me@somni.one
  signingKey = 782CAE24A5B51DE9

# ** Core settings **
[core]
  excludesFile = ~/.gitignore
  untrackedCache = true
  ignoreCase = false
  autoCrlf = input

# ** Commit settings **
[commit]
  gpgSign = true

# ** Repository initialization settings **
[init]
  defaultBranch = main

# ** Pull settings **
[pull]
  rebase = true

# ** Help function settings **
[help]
  autoCorrect = 1

# ** CLI color settings **
[color]
  ui = auto

# ** GitHub authentication using GitHub CLI **
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
