// Common rule for floating window
window-rule {
  match app-id="org.kde.kdeconnect.app"                   // KDE Connect
  match app-id=r#"^[Pp]inentry"#                          // Pinentry
  match app-id=r#"^org.freedesktop.impl.portal.desktop"#  // XDG Desktop Portals
  match app-id="[Ss]team"                                 // Steam
  match app-id="[Uu]nity[Hh]ub"                           // Unity Hub
  match app-id=r#"^[Bb]itwarden$"#                        // Bitwarden
  match app-id="zenity"                                   // Zenity dialogs

  open-maximized false
  open-floating true
}

// Pinentry
window-rule {
  match app-id=r#"^[Pp]inentry"#

  block-out-from "screen-capture"
  open-focused true

  default-floating-position x=0 y=20 relative-to="top"
  default-column-width { fixed 300; }
}

// XDG Desktop Portal
window-rule {
  match app-id=r#"^org.freedesktop.impl.portal.desktop"#

  default-floating-position x=0 y=20 relative-to="top"
  default-column-width { proportion 0.33333; }
}

// Unity Editor
window-rule {
  match app-id="Unity" title=r#"^Unity"# title=r#"<.+>$"#

  open-maximized true
  open-maximized-to-edges true
}

// Bitwarden
window-rule {
  match app-id=r#"^[Bb]itwarden$"#   // Standalone
  match title=r#"^[Bb]itwarden - "#  // Web browser extension

  block-out-from "screen-capture"

  open-floating true
  default-floating-position x=20 y=20 relative-to="top-right"
  default-column-width { fixed 800; }
  default-window-height { fixed 1000; }
}
